<p>Emails work!</p>

<div class="text-center bg-blue-800 p-10  rounded-lg">
  <div class="gap-2 bg-blue-800">
    <h3 class="text-lg font-bold">Save Your Wishlist Now</h3>
    <p>Sign up for our newsletter and never lose track of your favorite items.</p>
  </div>

  <div class="gap-4">
    <input type="email" class="border-2 border-blue-600 rounded-lg " placeholder="Enter your email">
    <app-buttons buttonText="Join Now" class="bg-blue-500 hover:bg-blue-400 text-white"><i class="fa fa-envelope" aria-hidden="true"></i></app-buttons>
  </div>
</div>