<p>what-we-do works!</p>

<span class="flex mb-4 justify-center items-center text-center font-bold text-2xl">What We do</span>

<div class="bg-custom-blue p-4 grid gap-4 mt-4 mx-6 rounded-xl ml-6 mr-6 ">
  <div class="flex gap-4">
    <div class="card flex items-center gap-2">
      <img class="p-2 bg-red-500 rounded-xl" src="image_url" alt="image">
      <div>
        <span class="font-bold">Shop for latest wears</span><br>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
      </div>
    </div>

    <div class="card flex items-center gap-2">
      <img class="p-2 bg-red-500 rounded-xl" src="image_url" alt="image">
      <div>
        <span class="font-bold">Shop for latest wears</span><br>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
      </div>
    </div>
  </div>

  <hr class="my-4 border-black mt-4 mb-4">

  <div class="flex gap-4">
    <div class="card flex items-center gap-2">
      <img class="p-2 bg-red-500 rounded-xl" src="image_url" alt="image">
      <div>
        <span class="font-bold">Shop for latest wears</span><br>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
      </div>
    </div>

    <div class="card flex items-center gap-2">
      <img class="p-2 bg-red-500 rounded-xl" src="image_url" alt="image">
      <div>
        <span class="font-bold">Shop for latest wears</span><br>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
      </div>
    </div>
  </div>
</div>
